In [2]:
import pandas as pd

In [5]:
fact_df = pd.read_csv('ecommerce_data/fact_table.csv', encoding='ISO-8859-1')
customer_df = pd.read_csv('ecommerce_data/customer_dim.csv', encoding='ISO-8859-1')
item_df = pd.read_csv('ecommerce_data/item_dim.csv', encoding='ISO-8859-1')
store_df = pd.read_csv('ecommerce_data/store_dim.csv', encoding='ISO-8859-1')
time_df = pd.read_csv('ecommerce_data/time_dim.csv', encoding='ISO-8859-1')
transaction_df = pd.read_csv('ecommerce_data/Trans_dim.csv', encoding='ISO-8859-1')

In [6]:
#checking for null values
dfs = [fact_df, customer_df, item_df, store_df, time_df, transaction_df]

for df_name, df in zip(['fact_df', 'customer_df', 'item_df', 'store_df', 'time_df', 'transaction_df'], dfs):
    print(f'Missing values in {df_name}:')
    print(df.isna().sum())
    print('\n')

Missing values in fact_df:
payment_key         0
coustomer_key       0
time_key            0
item_key            0
store_key           0
quantity            0
unit             3723
unit_price          0
total_price         0
dtype: int64


Missing values in customer_df:
coustomer_key     0
name             27
contact_no        0
nid               0
dtype: int64


Missing values in item_df:
item_key       0
item_name      0
desc           0
unit_price     0
man_country    0
supplier       0
unit           1
dtype: int64


Missing values in store_df:
store_key    0
division     0
district     0
upazila      0
dtype: int64


Missing values in time_df:
time_key    0
date        0
hour        0
day         0
week        0
month       0
quarter     0
year        0
dtype: int64


Missing values in transaction_df:
payment_key    0
trans_type     0
bank_name      1
dtype: int64

In [7]:
#store_df, time_df doesn't have any null values
#transaction_df, customer_df have null vales but are very small in number(dropping them doesn't affect the data)
transaction_df.dropna(inplace=True)
customer_df.dropna(inplace=True)

In [8]:
#got to know that item_df missing values is 'bags' so filling it
item_df.fillna('bags', inplace=True)

In [9]:
#fact_table has null values in one specific column 'unit' which are very large in number
missing_unit_rows = fact_df[fact_df['unit'].isna()]
print(missing_unit_rows)

       payment_key coustomer_key time_key item_key store_key  quantity unit  \
413           P030       C001653  T053668   I00158    S00327         1  NaN
478           P013       C008861  T036513   I00158    S00280         9  NaN
1500          P007       C008864  T052262   I00158    S00308         7  NaN
2033          P037       C002870  T050819   I00158    S00506         7  NaN
2053          P020       C003666  T094595   I00158     S0077        11  NaN
...            ...           ...      ...      ...       ...       ...  ...
998455        P016       C007003   T04678   I00158    S00522         1  NaN
998754        P039       C004215  T022792   I00158     S0092         9  NaN
998757        P027       C000309   T07076   I00158    S00550         9  NaN
999136        P033       C008559  T070336   I00158    S00553        11  NaN
999660        P019       C002022   T04150   I00158    S00347         7  NaN

        unit_price  total_price
413           17.0         17.0
478           17.0        153.0
1500          17.0        119.0
2033          17.0        119.0
2053          17.0        187.0
...            ...          ...
998455        17.0         17.0
998754        17.0        153.0
998757        17.0        153.0
999136        17.0        187.0
999660        17.0        119.0

[3723 rows x 9 columns]

In [10]:
#seems like the item key of all the missing values is same
#after checking item_df, got to know that the unit is 'bags'
#so lets replace nan with 'bags'
fact_df.fillna('bags', inplace=True)

In [11]:
#checking now for null values
dfs = [fact_df, customer_df, item_df, store_df, time_df, transaction_df]

for df_name, df in zip(['fact_df', 'customer_df', 'item_df', 'store_df', 'time_df', 'transaction_df'], dfs):
    print(f'Missing values in {df_name}:')
    print(df.isna().sum())
    print('\n')

Missing values in fact_df:
payment_key      0
coustomer_key    0
time_key         0
item_key         0
store_key        0
quantity         0
unit             0
unit_price       0
total_price      0
dtype: int64


Missing values in customer_df:
coustomer_key    0
name             0
contact_no       0
nid              0
dtype: int64


Missing values in item_df:
item_key       0
item_name      0
desc           0
unit_price     0
man_country    0
supplier       0
unit           0
dtype: int64


Missing values in store_df:
store_key    0
division     0
district     0
upazila      0
dtype: int64


Missing values in time_df:
time_key    0
date        0
hour        0
day         0
week        0
month       0
quarter     0
year        0
dtype: int64


Missing values in transaction_df:
payment_key    0
trans_type     0
bank_name      0
dtype: int64

In [12]:
#done with handling null values

In [13]:
#checking for duplicate rows
print(customer_df.duplicated().sum())
print(fact_df.duplicated().sum())
print(item_df.duplicated().sum())
print(store_df.duplicated().sum())
print(transaction_df.duplicated().sum())
print(time_df.duplicated().sum())

0
0
0
0
0
0

In [14]:
#checking now for null values
dfs = [fact_df, customer_df, item_df, store_df, time_df, transaction_df]

for df_name, df in zip(['fact_df', 'customer_df', 'item_df', 'store_df', 'time_df', 'transaction_df'], dfs):
    print(f'data types of {df_name}:')
    print(df.dtypes)
    print('\n')

data types of fact_df:
payment_key       object
coustomer_key     object
time_key          object
item_key          object
store_key         object
quantity           int64
unit              object
unit_price       float64
total_price      float64
dtype: object


data types of customer_df:
coustomer_key    object
name             object
contact_no        int64
nid               int64
dtype: object


data types of item_df:
item_key        object
item_name       object
desc            object
unit_price     float64
man_country     object
supplier        object
unit            object
dtype: object


data types of store_df:
store_key    object
division     object
district     object
upazila      object
dtype: object


data types of time_df:
time_key    object
date        object
hour         int64
day          int64
week        object
month        int64
quarter     object
year         int64
dtype: object


data types of transaction_df:
payment_key    object
trans_type     object
bank_name      object
dtype: object

In [16]:
time_df['date'] = pd.to_datetime(time_df['date'], format='%d-%m-%Y %H:%M')

In [17]:
#saving the transformed data into csv files
import os

folder='transformed_data'
if not os.path.exists(folder):
    os.makedirs(folder)
fact_df.to_csv(os.path.join(folder,'t_fact.csv'),index=False)    
customer_df.to_csv(os.path.join(folder,'t_customer.csv'),index=False) 
store_df.to_csv(os.path.join(folder,'t_store.csv'),index=False) 
item_df.to_csv(os.path.join(folder,'t_item.csv'),index=False) 
time_df.to_csv(os.path.join(folder,'t_time.csv'),index=False) 
transaction_df.to_csv(os.path.join(folder,'t_trans.csv'),index=False)